@font-face {
    font-family: 'Inter';
    src: url(src/Inter.ttf) format("truetype");
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
}

a {
    color: black;
    text-decoration: none;
}

#standby {
    color: white;
    letter-spacing: 15px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(25, 25, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.standby-link {
    color: white;
    letter-spacing: 5px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-left: 5px;
    transition: 0.3s ease;
}

.standby-link:hover {
    border-bottom: 1px solid white;
    transition: 0.3s ease;
}

.nav-btn {
    color: white;
    background-color: #E24E1B;
    font-size: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border: none;
    border-radius: 25px;
    transition: 0.3s;
}

.nav-btn:hover {
    color: black;
    background-color: #DA7635;
    font-size: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 12px 96px;
    border: none;
    border-radius: 25px;
    transition: 0.3s;
}

h1 {
    font-size: 56px;
    font-weight: 900;
}

p {
    font-size: 20px;
}

.announcements {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #E24E1B;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    background-color: #dddddd;
}

nav {
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
    display: flex;
    gap: 50px;
    padding: 20px;
}

.overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    height: 45vh;
}

.overview-wrapper {
    max-width: 35vw;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dddddd;
    display: flex;
    padding: 80px;
}

.gallery-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    place-content: center;
    background-color: #E24E1B;
    height: 350px;
    border-radius: 16px;
    aspect-ratio: 1;
    transition: 0.3s;
}

.gallery-item:hover {
    background-size: 120%;
    background-color: #DA7635;
    border-radius: 32px;
    transform: scale(1.15);
    transition: 0.3s;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 50px;
    gap: 50px;
}

.testimonial {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 25px;
    background-color: #E24E1B;
    height: 150px;
    border-radius: 16px;
}

.testimonial-img {
    height: 150px;
    border-radius: 16px;
}

.testimonial-content {
    padding-right: 25vw;
    color: white;
}

.testimonial-title {
    font-size: 32px;
}

footer {
    background-color: #eeeeee;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}